<h1 mat-dialog-title>Update user</h1>
<table class="full-width" cellspacing="0"><tr>
    <td><mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" #password maxlength="32" placeholder="Password" [(ngModel)]="passwordValue">
        <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
            Please enter a valid password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
            Please enter a longer password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
            Please enter a shorter password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        <mat-hint align="end">{{password.value.length}} / 32</mat-hint>
    </mat-form-field></td>
    <td><mat-form-field class="full-width" appearance="fill">
      <mat-label>Password again</mat-label>
      <input type="password" matInput [formControl]="passwordAgainFormControl" #passwordAgain maxlength="32" placeholder="Password" [(ngModel)]="confirmPasswordValue">
      <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
          Please enter a valid password
      </mat-error>
      <mat-error *ngIf="passwordAgainFormControl.hasError('equals') && !passwordAgainFormControl.hasError('required')">
          Please enter the correct password
      </mat-error>
      <mat-error *ngIf="passwordAgainFormControl.hasError('minlength') && !passwordAgainFormControl.hasError('required')">
          Please enter a longer password
      </mat-error>
      <mat-error *ngIf="passwordAgainFormControl.hasError('maxlength') && !passwordAgainFormControl.hasError('required')">
          Please enter a shorter password
      </mat-error>
      <mat-error *ngIf="passwordAgainFormControl.hasError('required')">
          Password is not <strong>correct</strong>
      </mat-error>
      <mat-hint align="end">{{passwordAgain.value.length}} / 32</mat-hint>
    </mat-form-field></td>
  </tr></table>
<div class="button">
    <button mat-button (click)="updateUser()">Update</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>