<footer class="footer" color="primary">
    <div class="footer-element">
        <div class="footer-element-info">
            Made with love by NgLoader & Dragon0697
        </div>
        <div class="footer-element-cv">
            <a href="https://CraftVenture.net">
                <img src="https://cdn.discordapp.com/icons/134010176633176064/b35752275dfa605906a1680bc51fffd6.webp" alt="CraftVenture Logo">
                <h1>CraftVenture</h1>
            </a>
        </div>
        <div class="footer-element-imprint">
            <a href="https://wuffy.eu/impressum.html">Imprint</a>
        </div>
    </div>
</footer>