<div *ngIf='this.element; then loadedTemplate; else loadingTemplate'></div>
<ng-template #loadedTemplate>
	<app-content-header title="{{this.element.name}}">
		<button mat-icon-button aria-label="Edit name" *ngIf="this.authService.isInEditing()"
			(click)="this.editName($event)">
			<mat-icon>edit</mat-icon>
		</button>
	</app-content-header>
	<mat-tab-group mat-align-tabs="center">
		<mat-tab *ngIf="this.displayDescription()">
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon">account_circle</mat-icon>
				Description
			</ng-template>
			<div class="description" [froalaView]="this.element.description"></div>
		</mat-tab>
		<mat-tab *ngIf="this.displayVideo()">
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon">movie</mat-icon>
				Video
			</ng-template>
			<iframe class="video-iframe" style="display: flex;" [src]="video" frameborder="0" allowfullscreen></iframe>
		</mat-tab>
	</mat-tab-group>
	<app-popup-menu></app-popup-menu>
</ng-template>

<ng-template #loadingTemplate>
	<app-loading></app-loading>
</ng-template>