<div *ngIf="loading; then loadingBlock; else loginBlock"></div>

<ng-template #loginBlock>
	<div class="login">
			<div class="input" *ngIf="!this.authService.isLoggedIn()">
				<mat-form-field class="input-field">
					<mat-label>Email</mat-label>
					<input matInput #email type="text" ng-model="email">
				</mat-form-field>
				<mat-form-field class="input-field">
					<mat-label>Password</mat-label>
					<input matInput #password type="password" ng-model="password">
				</mat-form-field>
			</div>
			<h1 *ngIf="this.message">{{this.message}}</h1>
			<div>
				<button mat-button *ngIf="!this.authService.isLoggedIn()" (click)="this.login()">
					Login
				</button>
				<button mat-button  *ngIf="this.authService.isLoggedIn()" (click)="this.logout()">
					Logout
				</button>
			</div>
	</div>
</ng-template>

<ng-template #loadingBlock>
	<app-loading></app-loading>
</ng-template>