:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #3a3d46;
    color: #fff;
    font-family: "Roboto", sans-serif;
    overflow-y: scroll !important;
    overflow-x: hidden;
}