<mat-toolbar color="primary" class="header">
    <div class="search" *ngIf="this.searchbarVisiblity">
        <form [formGroup]="stateForm">
            <mat-form-field class="input" appearance="outline">
                <input
                    matInput
                    placeholder="Search..."
                    [value]="this.searchbarValue"
                    (change)="this.searchbarUpdate"
                    formControlName="stateGroup"
                    [matAutocomplete]="autoGroup">
                    <mat-autocomplete #autoGroup="matAutocomplete">
                        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                            <mat-option *ngFor="let name of group.names" [value]="name">
                                {{name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="title" routerLink="/">Craftventure</div>
    <div class="spacer"></div>
    <div class="menu">
        <div *ngFor="let menu of this.menuService.menus">
            <div *ngIf="menu && !(menu.hidden && menu.hidden())" (click)="menu.click && menu.click()">
                <div *ngIf="menu.routerLink != undefined">
                    <button mat-raised-button *ngIf="menu.icon == undefined" [routerLink]="menu.routerLink"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <div>{{menu.name}}</div>
                    </button>
                    <button mat-icon-button *ngIf="menu.icon != undefined" [routerLink]="menu.routerLink"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        <span *ngIf="menu.name != undefined">{{menu.name}}</span>
                    </button>
                </div>
                <div *ngIf="menu.routerLink == undefined">
                    <button mat-raised-button *ngIf="menu.icon == undefined" [matMenuTriggerFor]="menuEvent" [ngClass]="{ 'disabled' : menu.elements == 0 }"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <div>{{menu.name}}</div>
                    </button>
                    <button mat-icon-button *ngIf="menu.icon != undefined" [matMenuTriggerFor]="menuEvent" [ngClass]="{ 'disabled' : menu.elements == 0 }"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        <span *ngIf="menu.name != undefined">{{menu.name}}</span>
                    </button>
                    <mat-menu #menuEvent="matMenu">
                        <div *ngFor='let element of menu.elements'>
                            <button mat-menu-item *ngIf="element && !(element.hidden && element.hidden())"
                                [matTooltip]="element.tooltip" matTooltipPosition="below"
                                [routerLink]="element.routerLink != undefined ? [element.routerLink] : []"
                                [class]="menu.class" (click)='element.click != undefined && element.click()'>
                                <mat-icon *ngIf="element.icon != undefined">
                                    <mat-icon>{{element.icon}}</mat-icon>
                                    <span *ngIf="element.name != undefined">{{element.name}}</span>
                                </mat-icon>
                                <div *ngIf="element.icon == undefined">{{element.name}}</div>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>