<mat-toolbar color="primary" class="header">
    <div class="title" routerLink="/">{{this.title}}</div>
    <div class="spacer"></div>
    <div class="menu">
        <div *ngFor="let menu of this.menuService.menus">
            <div *ngIf="menu && !(menu.hidden && menu.hidden())">
                <div *ngIf="menu.routerLink != undefined">
                    <button mat-raised-button *ngIf="menu.icon == undefined" [routerLink]="menu.routerLink"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <div>{{menu.name}}</div>
                    </button>
                    <button mat-icon-button *ngIf="menu.icon != undefined" [routerLink]="menu.routerLink"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        <span *ngIf="menu.name != undefined">{{menu.name}}</span>
                    </button>
                </div>
                <div *ngIf="menu.routerLink == undefined">
                    <button mat-raised-button *ngIf="menu.icon == undefined" [matMenuTriggerFor]="menuEvent"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <div>{{menu.name}}</div>
                    </button>
                    <button mat-icon-button *ngIf="menu.icon != undefined" [matMenuTriggerFor]="menuEvent"
                        [matTooltip]="menu.tooltip" [class]="menu.class" color="second" matTooltipPosition="below">
                        <mat-icon>{{menu.icon}}</mat-icon>
                        <span *ngIf="menu.name != undefined">{{menu.name}}</span>
                    </button>
                    <mat-menu #menuEvent="matMenu">
                        <div *ngFor='let element of menu.elements'>
                            <button mat-menu-item *ngIf="element && !(element.hidden && element.hidden())"
                                [matTooltip]="element.tooltip" matTooltipPosition="below"
                                [routerLink]="element.routerLink != undefined ? [element.routerLink] : []"
                                [class]="menu.class" (click)='element.click != undefined && element.click()'>
                                <mat-icon *ngIf="element.icon != undefined">
                                    <mat-icon>{{element.icon}}</mat-icon>
                                    <span *ngIf="element.name != undefined">{{element.name}}</span>
                                </mat-icon>
                                <div *ngIf="element.icon == undefined">{{element.name}}</div>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>