.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  height: 56px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

mat-toolbar button {
  margin: 5px;
}

mat-toolbar-row span,
mat-icon {
  outline: none;
  cursor: pointer;
  color: white;
}

.search {
  display: block;
  position: absolute;
  width: 100%;
  padding-right: 32px;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  z-index: 0;

  .input {
    width: 470px;
    top: 8px;
    font-size: 12px;
  }

  input {
    font-size: 18px;
    color: white;
  }
}

::ng-deep .search .mat-form-field-infix {
  padding: 0.5em 0;
}

::ng-deep .mat-form-field-outline.ng-tns-c40-0.ng-star-inserted{
  background-color: #ad5700;
  border-radius: 5px;
}

.title {
  padding: 12px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.disabled {
  pointer-events: none;
}

mat-toolbar {
  mat-form-field {
      div.mat-form-field-flex {
          align-items: flex-end;
      }

      div.mat-form-field-prefix {
          padding-right: 12px !important;
      }
  }
}

.menu {
	display: flex;
	flex-direction: row;
  z-index: 1;
}

.rotateIcon mat-icon {
  transition: 0.5s;

  :hover {
    transform: rotate(180deg);
    transition: 0.5s;
  }
}

@media screen and (max-width: 720px) {
  mat-toolbar {
    height: 112px;
    flex-direction: column;
  }

  .spacer {
    display: none;
  }
}