<mat-toolbar class="footer">
	<div class="element creator">
		Made with <span class="material-icons love">favorite</span> by NgLoader & Dragon0697
	</div>
	<div class="element craftventure">
		<a href="https://CraftVenture.net">
			<img src="https://cdn.discordapp.com/icons/134010176633176064/b35752275dfa605906a1680bc51fffd6.webp"
				alt="CraftVenture Logo">
			<h1>CraftVenture</h1>
		</a>
	</div>
	<div class="element imprint">
		<a href="https://wuffy.eu/impressum.html">Imprint</a>
	</div>
</mat-toolbar>